
*.~dfm
ish/{app}/Msdev/Lib/~errtmp
ish/{app}/Msdev/Lib/~errtmp
ish/{app}/editor/MainParam.~dfm
ish/{app}/Msdev/Lib/~errtmp
ish/{app}/Msdev/Lib/~errtmp
ish/{app}/Msdev/Lib/~errtmp
ish/{app}/bin/sforms.ini
ish/{app}/bin/ExportAnsys.plg
*.dcu
*.dcu
*.dcu
*.~dpr
*.cfg
